:host {
    background-image: url('https://i.pinimg.com/originals/24/56/16/245616b81f8c299636046d67e30f1c42.gif');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%; 
    background-color: aqua;
}


.divhome{
    width: 100%;
    height: 100%;
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30%;
}

